<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canvas To Google Calendar</title>
    <link rel="stylesheet" href="url_for('static', filename='style.css')">
</head>
<body>
    <div id="nav_bar">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('canvas_import')}}">Import Canvas Calendar</a>
        <a href="">Export Calendar</a>
    </div>
    <hr>
    {% block content%}
    {% endblock%}
</body>
</html>