{% extends "base.html" %}

{% block content %}
{% if canvas %}
<div id="canvas_assignments" data-info='{{canvas|tojson}}'></div>
{% endif %}

<div class="container">
    <pre>{{canvas}}</pre>
    <h1>Import your Canvas Calendar</h1>
    
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>
            {{ form.canvas_access_token.label }}
            {{ form.canvas_access_token(size=64) }}
            {% for error in form.canvas_access_token.error %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.canvas_url.label }}
            {{ form.canvas_url(size=64) }}
            {% for error in form.canvas_url.error %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>


        <div id='calendar'></div>
    </form>
</div>

<!-- Import FullCalendar to visualize and manipulate Canvas Calendar.-->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
<script src="{{url_for('static', filename='main.js')}}" defer></script>
{% endblock %}