{% extends "base.html" %}

{% block content %}
<div class="import_container">
    <header>
        <h1 class="heading">Import your Canvas Assignments</h1>
    </header>
    
    <div class="content_area">
    <form action="" method="post" novalidate>
        {{ import_form.hidden_tag() }}
        <p>
            {{ import_form.canvas_access_token.label }}
            {{ import_form.canvas_access_token(size=64, class="form_input", placeholder="ex. 12345~AbCdEfGhIjKlMnOpQrStUvWxYz0987654321abcdefghijk") }}
            {% for error in import_form.canvas_access_token.errors %}
            <span style="color: red;" class="error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ import_form.canvas_url.label }}
            {{ import_form.canvas_url(size=64, class="form_input", placeholder="ex. umd.instructure.com") }}
            {% for error in import_form.canvas_url.errors %}
            <span style="color: red;" class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ import_form.submit() }}
        </p>
    </form>
    </div>
</div>
{% endblock %}