# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#My client_id for Google Calendar API
client_id.json

#User sensitive information
service_account_key.json
courses_with_date.json
courses_without_date.json

#Virtual environment
.venv