<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Canvas to Google Calendar</title>
</head>
<body>
    <div class="container">
        <header>Welcome to my website!</header>
        <div><input type="text" id="access_token" placeholder="Enter your Canvas Access Token" required></div>
        <div><input type="text" id="canvas_url" placeholder="Enter your Canvas URL" required></div>
    </div>
</body>
</html>